.SearchBar {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif; 
}

.SearchBar button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 400;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px, 20px;
    border: 0;
}

.SearchBar input[type='submit'] {
    display: inline-block;
}

.SearchBar button[name='selected'] {
    color: yellow;
    font-weight: 900; 
}

.SearchBar button:hover {
    font-weight: 800;
}

.SearchBar input {
    display: inline-block;
    margin: 10px 10px;
}

.SearchBar label {
    display: inline-block;
    margin: 5px 5px;
}

.SearchBar div {
    display: inline-block;
}

.SearchBar input[type='submit'] {
    display: inline-block;
    background-color: rgb(148, 155, 173);
    color:rgb(12, 5, 29);
    border-radius: 10%;
    font-weight: 700;
    margin: 10px 25px;
    padding: 5px 20px;
}

.SearchBar input[type='submit']:hover {
    background-color: rgb(133, 203, 224);;
    color: black;
}