.TrackList {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    overflow: auto;
    text-align: left;
    background-color: rgb(152, 197, 216);
    float: left;
    width: 70%;
}


 .tl-heading {
    min-height: 3ch;
    background-color: rgb(15, 66, 87);
    color: bisque;
    font-weight: 700;
    position: fixed;
    width: 70%;
    z-index: 1;
    border: 1px dotted black;
}

 .tl-items {
    position: relative;
    top: 46px;
    height: auto;
    width: 100%;
 }

 .tl-col1 {
    width: 20ch;
    display: inline-block;
    text-align: left;
}

.tl-col2 {
    width: 40ch;
    display: inline-block;
}

.tl-col3 {
    width: 40ch;
    display: inline-block;
}
