.Track {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    border: 1px dotted black;
    text-align: left;
    padding: 0 1ch;
    width: 100%;
    overflow: hidden;
}

.Artist {
    width: 20ch;
    display: inline-block;
}

.Album {
    width: 20ch;
    display: inline-block;
}

.TrackName {
    width: 40ch;
    display: inline-block;
}

.AddToPlayList {
    font-weight: 700;
    border-radius: 100%;
    float: right;
    background-color: darkolivegreen;
    margin: 10px;
}